body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	font-size: 3rem;
	color: #73ec71
}
.buffer {
	border: 2px solid #0a6d21;
	background-color: #0a6d21;
	height: 8rem;
	max-width: 550px;
	margin: auto;	
}
h2 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-size-adjust: 2.5rem;
	font-weight: 700; 
	color: #0AC500;
}
hr {
	border-color: #73ec71;
	border-width: 3px;
	max-width: 100px;
}
.btn {
	font-weight: 700;
	border-radius: 300px;
	color: silver;
}
 .btn-success {
 	background-color: #02380eba;
 	border-color: #02380eba;
 }
 .btn-success:hover {
 	background-color: #0a6d21;
 	border-color: #0a6d21;
 	border-width: 4px;
 	color: #0AC500;
 }
.btn-xl {
	padding: 1rem 2rem;
}
